@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: KBZipaDeeDooDah;
    src: url(fonts/KBZipaDeeDooDah.ttf);
}

body{
    margin: 20px;
}
.bloginfo{
    font-family: KBZipaDeeDooDah;
    color: #393939;
    font-size: 30pt;
    float: left;
}

.headerimg{
    width: 100%;
    height: 100%;
    margin-top: -15px;
}
.right-nav{
    display: block;
    float: right;
}

.right-nav ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    padding: 20px 150px 0px 0px;
}

.right-nav ul li{
    padding: 4px 20px 22px 20px;
    display: block;
    font-family: BebasNeue;
}

.right-nav ul li a{
    text-decoration: none;
    color: #393939;
    font-size: 18pt;
    text-align: center;

}
.current-menu-item{
    background-color: #f2d513;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer{
    background-color: #202020;
    width: 100%;
    height: 336px;
    bottom: 0;
}

.footer-title{
    font-family: BebasNeue;
    color: #fff;
    font-size: 41pt;
    padding-left: 100px;
}
.footer-1{
    list-style: none;
}
.footer-2{
    list-style: none;
}
.footer-3{
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}

/*Media Query*/
@media screen and (max-width: 1036px) {
    .footer-title{
        font-size: 3em!important;
    }
}
/*Tablet*/
@media screen and (max-width: 991px) {

    .footer-title{
        text-align: center!important;
        font-size: 2.5em!important;
        padding-left: 0px!important;
    }
    .footer{
        height: auto;
    }
    .footer-1{
        text-align: center;
    }

}

/*Phone*/
@media screen and (max-width: 480px) {
    .footer-title{
        text-align: center!important;
        font-size: 2em!important;
        padding-left: 0px!important;
    }
    .footer{
        height: auto;
    }
}
