@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: KBZipaDeeDooDah;
    src: url(fonts/KBZipaDeeDooDah.ttf);
}
html{
    background-color: #f5f4f4;
}
body{
    margin: 20px;
    background-color: #f5f4f4;
}
.bloginfo{
    font-family: KBZipaDeeDooDah;
    color: #393939;
    font-size: 30pt;
    float: left;
}

.headerimg{
    width: 100%;
    height: 100%;
    margin-top: -15px;
}
.right-nav{
    display: block;
    float: right;
}

.right-nav ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    padding: 20px 150px 0px 0px;
}

.right-nav ul li{
    padding: 4px 20px 22px 20px;
    display: block;
    font-family: BebasNeue;
}

.right-nav ul li a{
    text-decoration: none;
    color: #393939;
    font-size: 18pt;
    text-align: center;

}
.current-menu-item{
    background-color: #f2d513;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer{
    background-color: #202020;
    width: 100%;
    height: 336px;
    bottom: 0;
    text-decoration: none;
    color: #fff;
}

.footer-title{
    font-family: BebasNeue;
    color: #fff;
    font-size: 41pt;
    padding-left: 100px;
}
.footer-1{
    list-style: none;
    text-decoration: none;
}
.footer-2{
    list-style: none;
    text-decoration: none;
}
.footer-3{
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}

/*Posts*/
.post-block{
    height: 295px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 55px;
    color: #393939;
}
.post-image img{
    float: left;
    display: block;
    width: 295px;
    height: 295px;
}
.post-content{
    font-family: Tahoma;
    padding-left: 20px;
    width: 70%;
    display: inline-block;
    padding-top: 15px;
}
.post-title{
    padding-top: 15px;
    font-family: BebasNeue;
    display: inline;
    padding-left: 20px;
}
.post-subtitle{
    font-family: Tahoma;
    display: inline;
    padding-left: 20px;

}

.prev-link{
    list-style-image:url('images/previous.png');
}

.next-link{
    list-style-image:url('images/next.png');
}

/*Featured Post*/
.featured-post-block{
    margin: -20px;
    width: 102%;
    background-color: #f2d513;
    height: 300px;
    color: #393939;
}
.featured-post-title{
    font-family: BebasNeue;
    font-size: 55pt;
}
.featured-post-content{

}
.featured-post-image img{
    display: block;
    float: right;
    height: 300px;
}


/*Sidebar*/
.sidebar{
    background-color: #8e8d8d;
    width: 15%;
    float: right;
    display: inline-block;
    color: #fff;

}

.sidebar-title{
    font-family: BebasNeue;
    font-size: 35pt;
    padding-top: 20px;
    text-align: left;
}
.sidebar-1{
    line-height: normal;
}
.sidebar-2 ul {
    list-style: none;
    padding:0;
    margin:0;
}

.sidebar-2 li {
    padding-left: 1em;
    text-indent: -.7em;
}
.sidebar-2 li:before {
    content: "• ";
    font-size: 15pt;
    color: #f2d513; /* or whatever color you prefer */
}
.sidebar-3{
    text-align: center;
}

.content{
    margin-top: 50px;
}
.page{
    padding-top: 50px;
    padding-bottom: 50px;
}
.searchform .screen-reader-text {
    display:none;
}
#searchsubmit {
    position:absolute;
    top:5px;
    left:135px;
    width:40px;
    height:40px;
    background: url("images/Pink Floyd ") top left no-repeat;
    border: none;
}

/*Media Query*/
@media screen and (max-width: 1036px) {
    .footer-title{
        font-size: 3em!important;
    }
}
/*Tablet*/
@media screen and (max-width: 991px) {

    .footer-title{
        text-align: center!important;
        font-size: 2.5em!important;
        padding-left: 0px!important;
    }
    .footer{
        height: auto;
    }
    .footer-1{
        text-align: center;
    }

}

/*Phone*/
@media screen and (max-width: 480px) {
    .footer-title{
        text-align: center!important;
        font-size: 2em!important;
        padding-left: 0px!important;
    }
    .footer{
        height: auto;
    }
}
